[submodule "book-service"]
	path = book-service
	url = http://github.com/TheFlies/book-service.git
[submodule "web-client"]
	path = web-client
	url = https://github.com/TheFlies/web-client
[submodule "config-service"]
	path = config-service
	url = https://github.com/TheFlies/config-service.git
[submodule "discovery-service"]
	path = discovery-service
	url = https://github.com/TheFlies/discovery-service.git
